# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & Temporary files
logs/*.log
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db